.chatRoom {
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  overflow: auto;

  position: relative;
  padding: 8px 16px;
}

/* 입력중 */
.receive {
  display: flex;

  transform-origin: top left;
  animation: scaleUp 0.3s ease-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(0%);
  }
  50% {
    transform: scale(105%);
  }
  100% {
    transform: scale(100%);
  }
}

.typing {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.typing span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin: 5px 0;
}
.typing span:nth-child(1) {
  background-color: #b8b8b8;
  animation: bounce 1s infinite;
}
.typing span:nth-child(2) {
  background-color: #b8b8b8;
  animation: bounce 1s infinite;
  animation-delay: 0.1s;
}
.typing span:nth-child(3) {
  background-color: #b8b8b8;
  animation: bounce 1s infinite;
  animation-delay: 0.2s;
}

@keyframes bounce {
  0% {
    transform: scale(80%);
  }
  50% {
    transform: scale(100%);
  }
  100% {
    transform: scale(80%);
  }
}
