.icon {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  right: 30px;
  bottom: 30px;

  border: none;
  border-radius: 50%;
  background-color: transparent;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);

  padding: 0;
}

.alertIcon {
  width: 15px;
  height: 15px;

  position: absolute;
  top: 0;
  right: 0;

  background-color: #e83939;
  border-radius: 50%;
}
